<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<meta property="og:type" content="pendragonscode.xyz">
	<meta property="og:site_name" content="Pendragon's main site.">
	<meta property="og:title" content="Pendragon's main site.">
	<meta property="og:description" content="A basic site that I made for fun.">
	<meta name="og:image" content="/images/PFP.png">
	<meta name="theme-color" content="#1F618D">
	<link rel="stylesheet" href="/css/commons.css">
	<link rel="stylesheet" href="/css/landing.css">
	<link rel="stylesheet" href="/css/mobile.css">
	<title>Pendragon's code</title>
	<script src="/js/main.js" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/be4616c9da.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav id="navbar">
		<div class="dropdown">
			<button class="dropbtn">Navigation</button>
			<div class="dropdown-content">
				<a href="/">Home!</a>
				<a href="https://ko-fi.com/pendragonscode">Donate to me!</a>
				<a href="https://github.com/pendragons-code">Github!</a>
				<a href="/contact">Contacts!</a>
				<a href="https://wordlist.mipan.site/">WordList!</a>
				<a href="https://pixeljeff.tumblr.com/post/675186511641264128/new-dawn-2022">Wallpaper 1!</a>
				<a href="https://www.artstation.com/artwork/r9VlQe">Wallpaper 2!</a>
			</div>
		</div>
		<h1>Pendragonscode</h1>
	</nav>

	<section id="picoCtf">
		<article class="commonSection">
			<p>Here is a simple list of articles I have made in the past.</p>
			<ul><%-articlesNames%></ul>
		</article>
	</section>

	<footer id="randomFooterText"></footer>
</body>

</html>