<!DOCTYPE html>
<html>
<script src="/js/hug.js" crossorigin="anonymous"></script>
<body>
<p id="hugquote"></p>
<picture>
	<img id="image" alt="hugsss" style="width:auto;">
</picture>

<br><br><br><br><br><br><br><br><br><br><br><br><p>I do not own these images! Contact me at pendragonscode.xyz to reach out to me if you want to take an image down or more! :)</p>
</body>
</html>
