<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<meta property="og:type" content="pendragonscode.xyz">
	<meta property="og:site_name" content="Pendragon's main site.">
	<meta property="og:title" content="Pendragon's main site.">
	<meta property="og:description" content="A basic site that I made for fun.">
	<meta name="og:image" content="/images/PFP.png">
	<meta name="theme-color" content="#1F618D">
	<link rel="stylesheet" href="/css/commons.css">
	<link rel="stylesheet" href="/css/landing.css">
	<link rel="stylesheet" href="/css/mobile.css">
	<title>Pendragon's code</title>
	<script src="/js/main.js" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/be4616c9da.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav id="navbar">
		<div class="dropdown">
			<button class="dropbtn">Navigation</button>
			<div class="dropdown-content">
				<a href="https://ko-fi.com/pendragonscode">Donate to me!</a>
				<a href="https://github.com/pendragons-code">Github!</a>
				<a href="/contact">Contacts!</a>
				<a href="/picoCtf">PicoCtf!</a>
				<a href="https://wordlist.mipan.site/">WordList!</a>
				<a href="https://pixeljeff.tumblr.com/post/675186511641264128/new-dawn-2022">Wallpaper 1!</a>
				<a href="https://www.artstation.com/artwork/r9VlQe">Wallpaper 2!</a>
			</div>
		</div>
		<h1>Pendragonscode</h1>
	</nav>
	<header id="showcase">
		<div class="showcase-content">
			<h1 id="randomWelcome"></h1> <!-- using js to add random text here -->
			<a href="#aboutme" class="btn">
				<h3>About Me!</h3>
			</a>
		</div>
	</header>

	<section id="aboutme">
		<article>
			<h2>About Me!</h2>
			<p>Hi there! I am <strong>pendragon</strong>! Sometimes I am known online as <u>pendragon</u>,
				<u>pendragonscode</u>, <u>pendragon's code</u> or <u>pendragons-code</u>. I am someone who is pretty
				much less than a speck of dust in this vast world, a boring person with absolutely no capacity for
				anything at all, wandering through the chaos. My lack of any intelligence at all condems me to a life of
				mediocrity, forever overshadowed by those who possess true brilliance.</p><br>
			<p>I am personally interested in content of anything in the fields of math, science, politics, geography,
				history and culture.</p><br>
			<h2>Additional info!</h2>
			<p>That being said, if you ever find yourself lost, remember to avoid following my lead. I possess a
				remarkable talent for navigating every path except the right one. Consider me the human embodiment of an
				anti-genius force field. My appearance alone is like a catalyst for diminishing IQ, causing a
				significant reduction that surpasses the computational capabilities of the most advanced super-quantum
				computers. It would take an absurdly extensive period for them to even scratch the surface of accurately
				representing the magnitude of the intellectual decline caused by my presence.</p>
		</article>
	</section>
	<section id="experiences" class="commonGrid">
		<article id="playing-with-pi-image">
			<figure>
				<img src="/images/playingWithPi.jpeg">
				<figcaption>Me playing with a really old rpi v1.2 board.</figcaption>
			</figure>
		</article>
		<article id="playing-with-pi">
			<h2>My Experience!:</h2>
			<p>I'll be honest, I am not really a programmer, I am more so an engineer, this is because I lean towards
				computer engineering more. I used to work with some low-level ASIC projects when I was younger. Although
				I admit I was never really any good with it. When I was younger, due to some interesting sequence of
				events I somehow ended up becoming a linux user, and in turn played with the kernel and DKMS a bit.
				Other than that, I also tried playing with rpi clustering but I took it all down because I ended up
				moving most of my stuff to VDSs or VPSs. I only really became a programmer because </p><br>
			<p>Here is what I have played around with before:</p>
			<ul>
				<li>Discord bots!</li>
				<li>General System Administration (ZFS setup blah blah)</li>
				<li>Homelabbing</li>
				<li>Web Dev</li>
				<li>Retro-game Hosting (<a href="https://game.pendragonscode.xyz/"><strong>Pacman</strong></a>)</li>
				<li>Game Servers (docker or pterodactyl and some minecraft)</li>
			</ul>
		</article>
	</section>
	<!-- I know this is not the best way to do this, but it is easier to work with while achieving the same effect -->
	<section id="funWithIoT" class="commonGrid">
		<article id="iotpara">
			<h2>Fun with IoT.</h2>
			<p>Way before I got a laptop or really set my foot down as an engineer/programmer, I have always been interested in robotics, electronics and things in that vein. One of those things that also hooked my interest, was IoT.</p><br>
			<p>More so than ever, IoT is getting more and more integrated into our households, for us, we see the integration of IoT taking place in front of us. Be it television, fridges, lights and fans, IoT is slowly, but surely becoming a huge thing in our lives.</p><br>
			<p>Here is a simple list of devices that I have worked with before:</p>
			<ul>
				<li>Arduino UNO family of boards</li>
				<li>Raspberry Pi 1.2B, 3B and 4B(hoping to work with 5, compute modules and some other stuff soon)</li>
				<li>BBC microbit v1 and v2</li>
				<li>Latte Panda V1, Alpha and Delta (2nd Gen)</li>
			</ul>
			<p>I have explored using things like pneumatics and hydraulics to play around with making an automated dispenser (the pneumatics and hydraulics opened the door) as part of a sanitary covid resource distribution project in school. Beyond that, I have also taken part in competitions aligning in this sector.</p><br>
			<p>An example of a project that I submitted for competition is ALZ-care, one of the submissions of <strong><a href="https://planet.mblock.cc/project/1198736">MakeX 2021 Singapore</a></strong>.</p>
		</article>
		<article id="iotimage">
			<figure>
				<img src="/images/db36e8f13f8211ec9f81db4b764e45ae.jpeg">
				<figcaption>A system that differentiates via barcodes.</figcaption>
			</figure>
		</article>
	</section> <!-- ok not really more like IoT -->


	<section id="what-i-do">
		<article>
			<h2>What I am doing now!</h2>
			<p>Right now I am learning more about programming and am learning more about full-stack web development and things in that vein. I have changed a lot and witnessed a lot of self growth in this transition from computer engineer to programmer. It has been a wild ride XD. I am no longer participating in political-science events like I did in high-school as I am now more focused to work on programming and ensuring I have a foot in this place. Right now some of my projects mainly wrap around using electron, some AI and making an API all together. I am hoping to create something that I can use in daily life and not just some dumb IoT project like a light switch with a motor and a webserver. I am personally hoping to work with games on and off the browsers and as of late I have played with some voxel engines and also made a few simple HTML games like <a href="https://blacktea.mipan.site"><u>blacktea</u></a>.</p><br>
			<p>I hope that this year will be the year where I get to learn more about tech in general and have the chance to do more stuff like playing around with servers (My homelab is honestly too weak).</p>
		</article>
	</section>

	<section id="weather">
		<article>
			<h2>Weather!</h2>
			<%-weather%>
			<p>Singapore, Jurong (1.352230N, 103.711342E).</p><br><br>
			<p>Brought to you by: meteosource weather api (daily)</p>
		</article>
	</section>

	<footer id="randomFooterText"></footer>
</body>

</html>