@font-face {
	font-family: "KGCornerOftheSky";
	font-style: normal;
	font-weight: 400;
	src: local("KGCornerOftheSky"),
		url("../fonts/KGCorneroftheSky.woff") format("woff"); /* https://kimberlygeswein.com/downloads/kg-corner-of-the-sky/ */
}

* {
	background-color: #3f2f38;
	font-family: KGCornerOftheSky;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #b29272;
}

p, li, figcaption {
	font-size: 12px;
}

body {
	animation: fadeIn linear 2s;
}

a {
	text-decoration: none;
	color: #b29272;
}

a:hover {
	text-decoration: underline;
}

code {
	padding: 3px;
	background-color: #000000;
	color: #b29272;
}

img {
	border: 3px solid #b29272;
}

li {
	margin: 20px;
}

#navbar {
	display: flex;
	position: sticky;
	justify-content: space-between;
	top: 0;
	color: #b29272;
	z-index: 1;
	padding: 1rem;
	border-bottom: 3px solid #b29272;
}

#navbar h1 {
	padding-top: 10px;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	color: #3f2f38;
	padding: 0.75rem;
	margin: 0 0.25rem;
}

#navbar ul li a:hover {
	background: #3f2f38;
	border-radius: 5px;
}

.commonSection {
	border: 3px solid #b29272;
	width: 90%;
	margin: 1% 5%;
}

.picoimage {
	width: 100%;
}

article {
	padding: 4% 10%;
	border: 2px solid #b29272;
	color: #b29272;
}

.generalSection {
	margin: 1% 10%;
	padding: 2% 12%;
	color: #b29272;
	border: 3px solid #b29272
}

.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}

/*navigation*/

.dropbtn {
	color: #b29272;
	padding: 10px;
	font-size: 16px;
	border: 4px solid #b29272;
	border-bottom: 6px solid #b29272;
	border-right: 6px solid #b29272
}

.dropbtn:hover {
	color: #535d70;
	border: 4px solid #535d70;
	border-left: 6px solid #535d70;
	border-top: 6px solid #535d70;
	box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	border: 2px solid #b29272;
	z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Focus the selection */
.dropdown-content a:hover {
	text-decoration: underline;
	background-color: #b29272;
	color: #3f2f38;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.commonGrid {
	margin: 1% 5%;
	width: 90%;
	display: grid;
	grid-gap: 15px;
}

footer {
	text-align: center;
	color: #b29272;
	border-top: 3px solid #b29272;
	height: auto;
	padding: 1%;
}



::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #848787;
}

::-webkit-scrollbar-thumb {
	background: #b29272
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

footer {
	margin-top: 3%;
	font-size: 10px;
}